body{
    background-color:orangered;
    background-image: batman;
       

}


nav a {
    color: skyblue;
}
#current-link {
    text-decoration: none;   
}


.uppercase{
    texttransform: uppercase;
    font-size: 40px;
}

img{
    width: 600px;
    hight: auto;
}

h1{
    border:15px inset yellow;
    margin-top: 40px;
    margin-left: 450px;
    margin-right: 450px;
}

